@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

.img {
  background-image: url(lemon-pie.png);
  background-size: cover;
  color: white;
  filter: brightness(90%);
}

.img > h1 {
  padding-top: 500px;
}
